::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0);
}

#chat {
    min-height: 0;
    overflow-y: auto;
    width: 85%;
    justify-self: center;
    display: flex;
    flex-flow: column nowrap;
}

#chat > :first-child {
    margin-top: auto;
}