div#connecting {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}