#sidebar {
    background-color: rgb(21, 21, 21);
    height: 100%;
    max-width: 500px;
    min-width: 100px;
    padding: 25px;
    display: flex;
    flex-flow: column nowrap;
}

.sidebar-item {
    overflow-x: hidden;
    width: calc(100% - 40px);
    padding: 15px 15px;
    border-radius: 1em;
    margin-bottom: 5px;
}
.sidebar-item:hover {
    background-color: rgb(35, 35, 35);
    cursor: pointer;
}

.sidebar-item.current {
    background-color: rgb(35, 35, 35);
}

#byok-setter {
    padding: 10px;
    background-color: rgb(35, 35, 35);
    color: white;
    outline: none;
    border-radius: 1em;
    border: none;
}

#byok-setter.error {
    border: 2px red solid;
}